<!-- <div>
  <app-action-bar
    (numberChange)="testNumberChanged($event)"
    [step]="5"
  ></app-action-bar>
  <app-action-bar
    (numberChange)="testNumberChanged($event)"
    [step]="10"
  ></app-action-bar>
</div> -->
<div>
  <button
    (click)="handleActivate()"
    style="margin-bottom: 10px"
    [style.color]="activateTextColor"
  >
    {{ activateLabel }}
  </button>

  <div *ngIf="activateValue; else elseTemplate">
    <app-max-min-meter
      [minLabel]="appMinLabel"
      [maxLabel]="appMaxLabel"
      (minChanged)="doAppMinChanged($event)"
      (maxChanged)="doAppMaxChanged($event)"
    ></app-max-min-meter>
    <div style="padding: 10px; border: 1px solid black">
      <app-sqaure-flex
        [divHeight]="sqaureHeight"
        [divWidth]="sqaureWidth"
      ></app-sqaure-flex>
      <div style="display: flex; gap: 5px; padding-top: 5px">
        <span> Width: &nbsp; </span>
        <button (click)="sqaureWidth = 50">50px</button>
        <button (click)="sqaureWidth = 100">100px</button>
        <button (click)="sqaureWidth = 200">200px</button>
      </div>
      <div style="display: flex; gap: 5px; padding-top: 5px">
        <span>Height : &nbsp;</span>
        <button (click)="sqaureHeight = 50">50px</button>
        <button (click)="sqaureHeight = 100">100px</button>
        <button (click)="sqaureHeight = 200">200px</button>
      </div>
    </div>

    <div
      style="
        padding: 10px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        gap: 10px;
      "
    >
      <app-action-bar [(counter)]="appCounter" [step]="5"></app-action-bar>
      <app-sqaure-flex [divWidth]="appCounter"></app-sqaure-flex>
    </div>
  </div>
  <ng-template #elseTemplate>
    <div>Please activate the app to see the content</div>
  </ng-template>
</div>

<div style="padding: 10px; border: 1px solid black">
  <app-action-bar [inputDisplay]="false"></app-action-bar>
</div>

<div style="padding: 10px; border: 1px solid black">
  <ul>
    <li *ngFor="let customer of cutomerList">{{ customer }}</li>
  </ul>
  <div style="display: flex; gap: 5px">
    <button (click)="pushCustomer()">Push customer</button>
    <button (click)="unShiftCustomer()">Unshift customer</button>
  </div>
</div>
